// Media queries mixins
$mobile-xs: 321px;
$mobile-sm: 520px;
$menu-breakpoint: 992px;

$xs-max: 576.98px;
$sm-max: 767.98px;
$md-max: 991.98px;
$lg-max: 1199.98px;

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@mixin media-min-width($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-max-width($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin media-min-max-width($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}
